.container
    .row
        .col-md-12
            .todolist.not-done
                h1 Todos
                input.form-control.add-todo(type='text', placeholder='Add todo')#input
                br
                ul#sortable.list-unstyled
                    each item in items
                        li.ui-state-default#item(onclick= "DeleteItem('" + item + "')")
                            .checkbox
                                label
                                    | #{item}

