doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(src="//code.jquery.com/jquery-1.11.1.min.js")
    script(src="/js/toDoList.js")
    script(src="/js/userInfo.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js")
  body
    nav.w3-bar.w3-border.w3-light-grey( role="navigation" )
      .w3-bar-item.w3-text-grey Auth0 - NodeJS
      a( href="/").w3-bar-item.w3-button Home
      if loggedIn
        a( href="/user" ).w3-bar-item.w3-button Profile
        a( id="qsLogoutBtn" href="/logout").w3-bar-item.w3-button Logout
      else
        a( id="qsLoginBtn" href="/login" ).w3-bar-item.w3-button Login
    block content
