extends layout


block content
  br
  .w3-container
    .w3-card-4.w3-center(style="padding: 15px;")
      img(src=user.picture)
      p Welcome, dear #{user.nickname}
      p Admin? - #{user._json['https://example.com/roles']}


  br
  .w3-container
    .w3-card-4.w3(style="padding: 15px;")
      include toDoList/toDoList

  if user._json['https://example.com/roles'] == 'admin'
    br
    .w3-container
      .w3-card-4.w3-center(style="padding: 15px;")
        h1 Users-List
        ul#user-list.list-unstyled
          each user in userList
            if(user.role != 'admin')
              a(href='http://localhost:3000/user/userinfo?email=' + user.email)
                li.ui-state-default#item
                    label
                      | #{user.email}



