extends layout


block content
    br
    .w3-container
        .w3-card-4.w3-center(style="padding: 15px;")
            p Now you are looking #{user.nickname}'s profile
            img#user_avatar(src=user.avatar)(style="cursor: pointer")
            p#user_description(style="cursor: pointer")  #{user.description}


    .edit(style='display: none; text-align: center')
        label #[input]
        img(src='/assets/img/edit.svg')(style="height: 20px; cursor: pointer")#changeit(onclick="changeField()")
        img(src='/assets/img/cancel.svg')(style="height: 20px; cursor: pointer")#changeit(onclick="cancelField()")
